@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 220px;
}
.header__logo {
  margin: 14px 0;
  margin-right: 63px;
}
.header__link {
  color: white;
  margin-left: auto;
}
.header__link:hover {
  color: #fe9013;
}

.logo {
  position: relative;
  display: block;
  width: 82px;
}
.logo__link {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px rgb(255, 255, 255) solid;
}
.logo__title {
  font-size: 19.01px;
  font-weight: 400;
  line-height: 22.82px;
  color: rgb(255, 255, 255);
}
.logo__img {
  position: absolute;
  bottom: 4.79px;
  left: 11.13px;
}

.nav__items {
  display: flex;
  flex-direction: row;
  gap: 58px;
  margin: 0;
  padding: 0;
}
.nav__link {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 500;
  color: white;
}
.nav__link--activate {
  color: #fe9013;
}
.nav__link:hover {
  color: #fe9013;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding-top: 41px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 50px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.footer__wrapper:first-of-type {
  margin-right: 101px;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  padding-left: 242px;
  margin-bottom: auto;
}
.footer__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: rgb(255, 255, 255);
  margin-bottom: 14px;
}
.footer__input {
  min-width: 228px;
  background-color: inherit;
  border: 1px rgb(249, 128, 75) solid;
  border-radius: 2px;
  padding: 10px;
  margin-right: 9px;
}
.footer__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400px;
  line-height: 22.4px;
  color: white;
}
.footer__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400px;
  line-height: 22.4px;
  color: white;
}
.footer__input::placeholder {
  font-size: 16px;
  font-weight: 400px;
  line-height: 22.4px;
  color: white;
}
.footer__btn-input {
  padding: 10px 39px;
  border-radius: 5px;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  gap: 75px;
}
.footer__logo {
  margin-bottom: 68px;
}
.footer__btn {
  margin-bottom: 49px;
}
.footer__text {
  font-size: 16px;
  font-weight: 100;
  line-height: 20.8px;
  color: rgb(255, 255, 255);
  margin: 0;
  text-align: left;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  border: none;
  border-radius: 5px;
  background-color: #fe9013;
}
.btn--round {
  border-radius: 25px;
}
.btn:hover {
  background-color: #e47209;
}
.btn__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 16px 0;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.social__link {
  display: flex;
  flex-direction: row;
  color: white;
}
.social__link:hover {
  color: rgb(75, 146, 0);
}
.social__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  margin-right: 12px;
}
.social__logo:hover {
  background: rgb(75, 146, 0);
}
.social__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin: 0;
}

.main {
  padding: 40px 30px 30px 30px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  opacity: 0.9;
}
.main__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 46.8px;
  color: white;
  margin: 0;
  margin-bottom: 30px;
}
.main__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: white;
  margin: 0;
}
.main__text--black {
  color: black;
}
.main__text--big {
  font-size: 72px;
  font-weight: 500;
  line-height: 57.6px;
  margin-bottom: 11px;
}
.main__link {
  display: block;
  font-size: 36px;
  font-weight: 400;
  line-height: 46.8px;
  color: rgb(254, 144, 19);
  margin-top: 40px;
  margin-bottom: 40px;
}
.main__link--small {
  font-size: 16px;
  line-height: 22.4px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
.main__link:hover {
  color: black;
}
.main__wrapper {
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 20px 44px 45.98px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__subtitle {
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  color: rgb(254, 144, 19);
  margin: 0;
}
.main__wrapper-img {
  display: flex;
  align-items: center;
  margin-right: 11px;
  margin-bottom: 48.53px;
}
.main__wrapper-img .main__icon {
  margin-right: 64px;
}
.main__count {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__range {
  width: 785px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #404950;
  border-radius: 2px;
  padding-left: 11px;
  padding-right: 9px;
}
.main__range-title {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin-left: 350px;
  margin-bottom: 17px;
}
.main__datalist {
  display: flex;
  justify-content: space-between;
  width: 785px;
  margin-bottom: 50px;
}
.main__range-text {
  font: "Roboto";
  font-size: 26px;
  font-weight: 500;
  line-height: 36.4px;
  color: black;
}
.main__range-text::before {
  content: "";
  width: 12.63px;
  height: 20px;
  display: inline-block;
  background-image: url(../../assets/icons/dollar.svg);
}
.main input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(255, 238, 46);
  margin-top: -3px;
  cursor: pointer;
}
.main input[type=range]::-webkit-slider-runnable-track {
  background: #72828e;
  height: 2px;
  cursor: pointer;
}
.main__input-text {
  width: 268px;
  background-color: inherit;
  border: 1px #929699 solid;
  padding: 16px 9px;
  margin-bottom: 26px;
}
.main__input-text::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #929699;
}
.main__input-text:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #929699;
}
.main__input-text::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #929699;
}
.main__input-text::-moz-placeholder::after {
  content: "";
  width: 12.63px;
  height: 20px;
  display: inline-block;
  background-image: url(../../assets/icons/dollar.svg);
}
.main__input-text:-ms-input-placeholder::after {
  content: "";
  width: 12.63px;
  height: 20px;
  display: inline-block;
  background-image: url(../../assets/icons/dollar.svg);
}
.main__input-text::placeholder::after {
  content: "";
  width: 12.63px;
  height: 20px;
  display: inline-block;
  background-image: url(../../assets/icons/dollar.svg);
}
.main__input-radios {
  margin-bottom: 29px;
}
.main__btn-round {
  margin-bottom: 30px;
}